.overlay {
	position: fixed;
	top: 0;
	right: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;

	.drawer {
		display: flex;
		flex-direction: column;

		position: absolute;
		right: 0;

		width: 385px;
		height: 100%;

		padding: 30px;

		background: #ffffff;
		box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

		.header {
			display: flex;
			justify-content: space-between;

			h2 {
				font-weight: 700;
				font-size: 24px;
				color: #000000;
				margin-bottom: 30px;
			}

			.close {
				background-image: url('../../../public/img/cross.svg');
				background-size: 50%;
				background-repeat: no-repeat;
				background-position: center;

				cursor: pointer;

				border-radius: 8px;

				width: 32px;
				height: 32px;
			}
		}

		.cartItems {
			flex: 1 1;
			overflow: auto;

			.cartItem {
				display: flex;
				align-items: center;

				padding: 20px;
				margin-bottom: 20px;

				border: 1px solid #f3f3f3;
				border-radius: 20px;

				.image {
					width: 70px;
					height: 70px;

					img {
						width: 100%;
					}
				}

				.info {
					display: flex;
					flex-direction: column;

					max-width: 162px;

					margin-right: 12px;
					margin-left: 21px;

					span:first-child {
						font-size: 14px;
						line-height: 17px;
						color: #000000;
						margin-bottom: 8px;
					}

					span:last-child {
						font-weight: 700;
						font-size: 14px;
						color: #000000;
					}
				}

				.action {
					cursor: pointer;

					border: 1px solid #dbdbdb;
					border-radius: 8px;

					min-width: 32px;
					min-height: 32px;

					background-image: url('../../../public/img/cross.svg');
					background-repeat: no-repeat;
					background-position: center;

					transition: 0.2s all ease-in-out;

					&:hover {
						background-color: #131313;
					}
				}
			}
		}

		.total {
			.count div:first-child {
				font-size: 16px;
				color: #000000;
			}

			.count div:nth-child(2) {
				flex: 1;
				margin: 0 8px 3px;
				border-bottom: 1px dashed #dfdfdf;
			}

			.count div:last-child {
				font-weight: 600;
				font-size: 16px;
				color: #000000;
			}

			.sum {
				display: flex;
				justify-content: space-between;
				margin-bottom: 19px;
			}

			.tax {
				display: flex;
				justify-content: space-between;
				margin-bottom: 24px;
			}

			.action {
				position: relative;

				.btn {
					cursor: pointer;
					border: 0;

					width: 100%;
					height: 55px;

					background: #9dd558;
					border-radius: 18px;

					font-weight: 600;
					font-size: 16px;
					color: #ffffff;

					transition: background 0.1s ease-in-out;

					svg {
						position: absolute;
						right: 33px;
						top: 22px;

						transition: transform 0.15s ease-in-out;
					}

					&:hover {
						background: darken(#9dd558, 10%);

						svg {
							transform: translateX(5px);
						}
					}

					&:active {
						background: lighten(#9dd558, 5%);
					}
				}
			}
		}
	}
}
