@import '../../assets/styles/mixins';

.contentHeader {
	display: flex;
	align-items: flex-end;

	margin-bottom: 40px;

	.contentSvg {
		margin-right: 21px;
		cursor: pointer;
		opacity: 0.5;

		transition: opacity 0.15s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}

	h1 {
		font-weight: 700;
		font-size: 32px;
		color: #000000;
	}
}
